<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head')%>

<body>
    <%- include('./partials/header')%>

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-small">
                <section class="info-usuario uk-flex uk-flex-around uk-width-1-1">
                    <div class="uk-width-1-3 uk-flex uk-flex-center uk-flex-middle">
                        <img src="/images/fotosPerfiles/<%= usuarios.fotoPerfil %>" alt="foto de perfil" class="foto-perfil" width="150px">
                    </div>
                    <div class="uk-width-2-3 uk-flex uk-flex-column uk-flex-around">
                        <div class="uk-flex uk-flex-middle">
                            <h3 class="uk-margin-remove"></h3>
                            <button class="uk-button uk-button-small uk-button-primary uk-margin-left">Seguir</button>
                        </div>
                        <h1><%= usuarios.nombreDeUsuario %></h1>
                        <div>
                            <ul class="red-usuario uk-flex uk-flex-between uk-width-1-2">
                                <li><%= usuarios.posteos.length%> posts</li>
                                <li>200 seguidores</li>
                                <li>300 seguidos</li>
                            </ul>
                        </div>
                    </div>
               </section>
               <section class="muro uk-flex uk-flex-middle uk-flex-center">
                    <div class="uk-grid uk-child-width-1-3 uk-width-1-1 uk-margin-remove" uk-grid>
                        <% usuarios.posteos.forEach(element=> { %>
                        <div class="uk-card uk-card-hover uk-card-body uk-flex uk-flex-column uk-flex-middle uk-flex-center ">
                            <a href="/detallePost/<%= element.id %>" class="link-detalle">
                                <img src="/images/imagenesPerfil/<%= element.imagen %>" alt="foto de perfil" class="foto-perfil" width="200px">
                                <p class="uk-text-center"><%= element.pie %></p>
                            </a>
                        </div>
                        <% }) %>


                         <!-- <div class="uk-card uk-card-hover uk-card-body uk-flex uk-flex-column uk-flex-middle uk-flex-center ">
                            <a href="/detallePost" class="link-detalle">
                                <img src="/images/imagenesPerfil/comida8.jpg" alt="foto de perfil" class="foto-perfil" width="200px">
                                <p class="uk-text-center">Helado</p>
                            </a>
                        </div> 
                        <div class="uk-card uk-card-hover uk-card-body uk-flex uk-flex-column uk-flex-middle uk-flex-center ">
                            <a href="/detallePost" class="link-detalle">
                                <img src="/images/imagenesPerfil/comida9.jpg" alt="foto de perfil" class="foto-perfil" width="200px">
                                <p class="uk-text-center">Panqueques</p>
                            </a>
                        </div>
                        <div class="uk-card uk-card-hover uk-card-body uk-flex uk-flex-column uk-flex-middle uk-flex-center ">
                            <a href="/detallePost" class="link-detalle">
                                <img src="/images/imagenesPerfil/comida1.jpeg" alt="foto de perfil" class="foto-perfil" width="200px">
                                <p class="uk-text-center">Taqueños</p>
                            </a>
                        </div>
                        <div class="uk-card uk-card-hover uk-card-body uk-flex uk-flex-column uk-flex-middle uk-flex-center ">
                            <a href="/detallePost" class="link-detalle">
                                <img src="/images/imagenesPerfil/comida4.jpg" alt="foto de perfil" class="foto-perfil" width="200px">
                                <p class="uk-text-center">Sushi</p>
                            </a>
                        </div>
                        <div class="uk-card uk-card-hover uk-card-body uk-flex uk-flex-column uk-flex-middle uk-flex-center ">
                            <a href="/detallePost" class="link-detalle">
                                <img src="/images/imagenesPerfil/comida5.jpg" alt="foto de perfil" class="foto-perfil" width="200px">
                                <p class="uk-text-center">Hamburguesa</p>
                            </a>
                        </div>
                        <div class="uk-card uk-card-hover uk-card-body uk-flex uk-flex-column uk-flex-middle uk-flex-center ">
                            <a href="/detallePost" class="link-detalle">
                                <img src="/images/imagenesPerfil/comida6.jpg" alt="foto de perfil" class="foto-perfil" width="200px">
                                <p class="uk-text-center">Arroz</p>
                            </a>
                        </div>
                        <div class="uk-card uk-card-hover uk-card-body uk-flex uk-flex-column uk-flex-middle uk-flex-center ">
                            <a href="/detallePost" class="link-detalle">
                                <img src="/images/imagenesPerfil/comida3.jpg" alt="foto de perfil" class="foto-perfil" width="200px">
                                <p class="uk-text-center">Picada</p>
                            </a>
                        </div>
                        <div class="uk-card uk-card-hover uk-card-body uk-flex uk-flex-column uk-flex-middle uk-flex-center ">
                            <a href="/detallePost" class="link-detalle">
                                <img src="/images/imagenesPerfil/comida2.jpg" alt="foto de perfil" class="foto-perfil" width="200px">
                                <p class="uk-text-center">Sopa</p>
                            </a>
                        </div> -->
                        
                    </div>
               </section>
            </div>
        </div>
    </main>

    <%- include('./partials/footer')%>

</body>

</html>